.grid-page {
	width: 100%;
	display: grid !important;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(2,1fr);
	gap: 0.4rem;
	padding: 0.2rem;
	box-sizing: border-box;
	grid-auto-flow: column;
	height: 100%;
	grid-auto-rows: 1fr;
}

.grid-wrapper .slick-slide > div {
	display: block;
	width: 100%;
}


.grid-cell {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 0.3rem;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}


.grid-wrapper {
	position: relative;
	width: 95%;
	margin: auto;
}



.grid-wrapper .slick-dots {
	position: relative;
	height: 30px;
	bottom: 0;
	left: 0;
	right: 0;			
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.grid-wrapper .slick-dots li {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 0.2rem;						 
	padding: 0;
	line-height: 3rem;
	font-size: 3rem;
	height: 3rem;
	width: 3rem;
}

.grid-wrapper .slick-dots li button {
	padding: 0;
	margin: 0;
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
}

.grid-wrapper .slick-dots li button:before {
	line-height: 3rem;
	font-size: 10px;
	width: 3rem;
	height: 3rem;
}


.modal-wrapper,
.modal-wrapper .slick-slider,
.modal-wrapper .slick-list,
.modal-wrapper .slick-track,
.modal-wrapper .slick-slide,
.modal-wrapper .slick-slide > div {
	height: 100% !important;
	width: 100%;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-slide {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: none;
}

.modal-image {
	max-width: 100%;
	max-height: 80%;
	width: 100% !important;
	height: auto !important;
	object-fit: contain !important;
	display: block;
	margin: auto;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.modal-wrapper .slick-dots {
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
	width: 100% !important;
	height: auto !important;
 	transform: none !important;
	overflow: visible !important;
}

.modal-wrapper .slick-dots ul {
	display: flex !important;
	width: 100% !important;
	max-width: 100%;
	margin: 0 auto !important;
	padding: 0;
	list-style: none;
	height: 10px;
	transform: none !important;
}

.modal-wrapper .slick-dots li {
	flex: 1;
	height: 100% !important;
	margin: 0 !important;
	pointer-events: auto;
}

.modal-wrapper .slick-dots li button {
	width: 100% !important;
	height: 100% !important;
	padding: 0;
}

.modal-wrapper .slick-dots li button:before {
	display: none !important;
}

.custom-dot-bar {
	width: 100%;
	height: 13px;
	background-color: #777;
	transition: background-color 0.3s ease;
}

.custom-dot-bar.active {
	background-color: #A999C9;
}

.progress-text {
	margin-top: 15px;
	color: #666;
	font-size: 1.4rem;
	text-align: center;
	font-family: Regular;
}

.modal-wrapper .slick-prev,
.modal-wrapper .slick-next {
	z-index: 10;
	width: 50px;
	height: 50px;
}

.modal-wrapper .slick-prev {
	left: 0px;
}

.modal-wrapper .slick-next {
	right: 0px;
}


