.image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;

	background-color: #F8F6EE;
	-webkit-mask-image: linear-gradient(
		to bottom,
		#F8F6EE00 0%,
		black 20%,
		black 80%,
		#F8F6EE00 100%
	);
	mask-image: linear-gradient(
		to bottom,
		#F8F6EE00 0%,
		black 20%,
		black 80%,
		#F8F6EE00 100%
	);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 40%;
	display: block;
}

