.map-button {
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10.5rem;
	text-align: center;
	background: white;
	border-radius: 1rem;
	padding: 0.5rem;
	font-family: Regular;
	border: 1px solid rgba(0,0,0,0.2);
}

