.name {
	font-size: 1.8rem;
	font-family: Bold;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	display: flex;
	justify-content: left;
	align-items: center;
	-webkit-text-stroke: 0.3px;
	line-height: 3.5rem;
	color: #5E3E8C;
}

.explain {
	font-size: 1.6rem;
	font-family: Regular;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-left: 0rem;
	padding-right: 0rem;
	text-align: left;
	line-height: 2.5rem;
}

.notation {
	font-size: 1.6rem;
	font-family: Regular;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: left;
	color: black;
}
